<form>
  <div class="info">
    <h1>RSVP</h1>
    <h1>Débora & João Pedro</h1>
    <p class="line">____________________________________</p>
    <h2>Detalhes</h2>
    <p>Domingo, 14 de Novembro, 2020</p>
    <p>2:00 PM</p>
    <br />
    <h2>Cerimonia & Recepção</h2>
    <p>Espaço la forêt</p>
    <p>Estr. do Sacramento, 18 - Alto do Sabiá, São Roque - SP, 18130-970</p>
    <p class="line">____________________________________</p>
    <input type="text" placeholder="Nome" />
    <div class="checkbox">
      <input type="checkbox" id="check" />
      <label class="label-check" for="check">
        <svg viewBox="0,0,50,50">
          <path d="M5 30 L 20 45 L 45 5"></path>
        </svg>
      </label>
      <label for="check">&nbsp; e familia</label>
    </div>
  </div>
  <button class="accept">Confirmo</button>
  <button class="regret">Não poderei ir</button>
</form>
