form {
  width: 400px;
  background-color: #fff;
  margin: 25px auto;
  color: #666;
  padding: 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-family: "josefin sans";
  overflow: hidden;
}

.info {
  padding: 10px;
}

h1,
h2,
p {
  text-align: center;
  padding: 0px;
  margin: 5px 5px;
}

h2 {
  font-family: "photograph-signature", cursive;
  font-weight: 100;
  font-size: 26px;
  line-height: 35px;
}

p.line {
  margin: 0 0 20px 0;
  color: #999;
}

form input {
  font-size: 15px;
  color: #666;
  padding: 6px;
  margin: 25px auto 20px;
  display: block;
  width: 75%;
  font-family: "josefin sans";
  border: 1px solid #666;
}

input:focus {
  outline: 0;
}

.error-message {
  color: #e24646;
  font-size: 12px;
  margin: -15px 0 3px 0;
}

.checkbox {
  width: calc(75% + 12px);
  margin: auto;
  display: flex;
  align-items: center;
}

input#check {
  display: none;
  position: absolute;
  opacity: 0;
}

input#check:checked + .label-check svg path {
  stroke-dashoffset: 0;
}

input#check:focus + .label-check {
  transform: scale(1.03);
}

#check + .label-check {
  display: block;
  border: 1px solid #666;
  width: 27px;
  height: 27px;
  cursor: pointer;
  transition: all 0.2s ease;
}

#check:active + .label-check:active {
  transform: scale(1.05);
}

.label-check svg {
  pointer-events: none;
}

.label-check svg path {
  fill: none;
  stroke: #666;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 100;
  stroke-dashoffset: 101;
  transition: all 350ms cubic-bezier(1, 0, 0.37, 0.91);
}

button {
  cursor: pointer;
  color: white;
  background-color: #96887d;
  border: none;
  font-family: "josefin sans";
  font-size: 18px;
  font-weight: 600;
  padding: 15px 32px;
  width: 50%;
  white-space: nowrap;
  margin: 20px auto 0px auto;
}

button.accept {
  border-right: solid 1px #a39489;
}

button:hover {
  background-color: #89807b;
  transition: 0.5s;
}
button:disabled {
  background-color: #929292;
}

button:focus {
  outline: 0;
}

@media screen and (max-width: 440px) {
  form {
    width: 98%;
  }

  button {
    width: 100%;
    margin: 0;
  }

  button.accept {
    border-right: none;
    border-bottom: 1px solid #a39489;
  }
}

.clock-loader {
  --clock-color: #666;
  --clock-width: 2rem;
  --clock-radius: calc(var(--clock-width) / 2);
  --clock-minute-length: calc(var(--clock-width) * 0.4);
  --clock-hour-length: calc(var(--clock-width) * 0.2);
  --clock-thickness: 0.2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--clock-width);
  height: var(--clock-width);
  border: 3px solid var(--clock-color);
  border-radius: 50%;
  margin: auto;
}
.clock-loader::before,
.clock-loader::after {
  position: absolute;
  content: "";
  top: calc(var(--clock-radius) * 0.25);
  width: var(--clock-thickness);
  background: var(--clock-color);
  border-radius: 10px;
  transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
  animation: spin infinite linear;
}
.clock-loader::before {
  height: var(--clock-minute-length);
  animation-duration: 2s;
}
.clock-loader::after {
  top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
  height: var(--clock-hour-length);
  animation-duration: 15s;
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
