
<ul class="timeline">
    <li>
        <div class="direction-r">
            <div class="flag-wrapper">
                <span class="flag">História 1</span>
                <span class="time-wrapper">
                    <span class="time">17/03/2019</span>
                </span>
            </div>
            <div class="desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales tellus in lorem molestie, nec maximus mi semper. Maecenas vitae turpis vel turpis placerat finibus. Aenean malesuada leo vitae lorem tincidunt vulputate. Etiam vehicula risus quis auctor sagittis. Nam tristique mi nec faucibus semper. Sed pulvinar arcu laoreet, euismod mauris non, tristique nisi. Aenean vulputate tempor erat nec vulputate. Nam id ex at lectus condimentum cursus. Donec eu nulla posuere, accumsan tellus at, malesuada dui.
            </div>
        </div>
    </li>

    <li>
        <div class="direction-l">
            <div class="flag-wrapper">
                <span class="flag">História 2</span>
                <span class="time-wrapper">
                    <span class="time">17/03/2019</span>
                </span>
            </div>
            <div class="desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales tellus in lorem molestie, nec maximus mi semper. Maecenas vitae turpis vel turpis placerat finibus. Aenean malesuada leo vitae lorem tincidunt vulputate. Etiam vehicula risus quis auctor sagittis. Nam tristique mi nec faucibus semper. Sed pulvinar arcu laoreet, euismod mauris non, tristique nisi. Aenean vulputate tempor erat nec vulputate. Nam id ex at lectus condimentum cursus. Donec eu nulla posuere, accumsan tellus at, malesuada dui.
            </div>
        </div>
    </li>
    <li>
        <div class="direction-r">
            <div class="flag-wrapper">
                <span class="flag">História 3</span>
                <span class="time-wrapper">
                    <span class="time">17/03/2019</span>
                </span>
            </div>
            <div class="desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales tellus in lorem molestie, nec maximus mi semper. Maecenas vitae turpis vel turpis placerat finibus. Aenean malesuada leo vitae lorem tincidunt vulputate. Etiam vehicula risus quis auctor sagittis. Nam tristique mi nec faucibus semper. Sed pulvinar arcu laoreet, euismod mauris non, tristique nisi. Aenean vulputate tempor erat nec vulputate. Nam id ex at lectus condimentum cursus. Donec eu nulla posuere, accumsan tellus at, malesuada dui.
            </div>
        </div>
    </li>

    <li>
        <div class="direction-l">
            <div class="flag-wrapper">
                <span class="flag">História 4</span>
                <span class="time-wrapper">
                    <span class="time">17/03/2019</span>
                </span>
            </div>
            <div class="desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales tellus in lorem molestie, nec maximus mi semper. Maecenas vitae turpis vel turpis placerat finibus. Aenean malesuada leo vitae lorem tincidunt vulputate. Etiam vehicula risus quis auctor sagittis. Nam tristique mi nec faucibus semper. Sed pulvinar arcu laoreet, euismod mauris non, tristique nisi. Aenean vulputate tempor erat nec vulputate. Nam id ex at lectus condimentum cursus. Donec eu nulla posuere, accumsan tellus at, malesuada dui.
            </div>
        </div>
    </li>

    <li>
        <div class="direction-r">
            <div class="flag-wrapper">
                <span class="flag">História 5</span>
                <span class="time-wrapper">
                    <span class="time">17/03/2019</span>
                </span>
            </div>
            <div class="desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales tellus in lorem molestie, nec maximus mi semper. Maecenas vitae turpis vel turpis placerat finibus. Aenean malesuada leo vitae lorem tincidunt vulputate. Etiam vehicula risus quis auctor sagittis. Nam tristique mi nec faucibus semper. Sed pulvinar arcu laoreet, euismod mauris non, tristique nisi. Aenean vulputate tempor erat nec vulputate. Nam id ex at lectus condimentum cursus. Donec eu nulla posuere, accumsan tellus at, malesuada dui.
            </div>
        </div>
    </li>

    <li>
        <div class="direction-l">
            <div class="flag-wrapper">
                <span class="flag">História 6</span>
                <span class="time-wrapper">
                    <span class="time">17/03/2019</span>
                </span>
            </div>
            <div class="desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sodales tellus in lorem molestie, nec maximus mi semper. Maecenas vitae turpis vel turpis placerat finibus. Aenean malesuada leo vitae lorem tincidunt vulputate. Etiam vehicula risus quis auctor sagittis. Nam tristique mi nec faucibus semper. Sed pulvinar arcu laoreet, euismod mauris non, tristique nisi. Aenean vulputate tempor erat nec vulputate. Nam id ex at lectus condimentum cursus. Donec eu nulla posuere, accumsan tellus at, malesuada dui.
            </div>
        </div>
    </li>

</ul>