/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "photograph-signature";
  src: url("/assets/font/Photograph\ Signature.ttf");
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f7efe8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #96887d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #89807b;
}
