section .primary-image {
  background: url("/assets/img/img1.png");
  background-repeat: no-repeat;
  background-position: 0% 55%;
  background-size: cover;
  width: 100%;
  height: 400px;
}

.text-description {
  text-align: center;
  padding: 30px 20px;
  font-family: "josefin sans";
}

.text-description * {
  margin-bottom: 10px;
}

.text-description *:last-child {
  margin-bottom: 0;
}

.text-description h1 {
  font-size: 42px;
}
.text-description h2 {
  font-size: 25px;
}

.text-description p {
  text-align: justify;
}

.grid-container {
  display: grid;
  height: 880px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "photo1 photo1 photo1 photo2 photo2 photo2"
    "photo1 photo1 photo1 photo2 photo2 photo2"
    "photo1 photo1 photo1 photo3 photo3 photo3"
    "photo1 photo1 photo1 photo3 photo3 photo3"
    "photo4 photo4 photo4 photo4 photo4 photo4"
    "photo4 photo4 photo4 photo4 photo4 photo4"
    "photo4 photo4 photo4 photo4 photo4 photo4";
}
.photo1 {
  grid-area: photo1;
  background: url("/assets/img/img3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.photo2 {
  grid-area: photo2;
  background: url("/assets/img/img2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.photo3 {
  grid-area: photo3;
  background: url("/assets/img/img6.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.photo4 {
  grid-area: photo4;
  background: url("/assets/img/img5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
