<section>
    <div class="primary-image"></div>
</section>
<section>
    <div class="text-description">
        <h1>Débora e João Pedro</h1>
        <h2>Estão se casando</h2>
        <p>Estamos muito felizes! Estamos nas nuvens e queremos compartilhar com você todo o nosso amor. Por isso estamos preparando um casamento que fará história e no qual você vai se divertir muito. Enquanto não chega o grande dia criamos um site com um montão de sessões para que todos estejam ao dia de tudo e para compartilhar a nossa história de amor.</p>
        <p>Uma coisa importante, na sessão <i>RSVP</i>, poderá confirmar se você vai ou não ao casamento. Confirme o mais rápido possível por favor, que assim, organizar tudo será muito mais fácil.</p>
    </div>
</section>
<section>
    <div class="grid-container">
        <div class="photo1"></div>
        <div class="photo2"></div>
        <div class="photo3"></div>
        <div class="photo4"></div>
    </div>
</section>